<?xml version="1.0" encoding="UTF-8"?>

<accounter>
  <association>Kanotklubben Strömstararnas bokföring</association>
  <logo_ref>http://www.kkss.se</logo_ref>
  <logo_icon>icons/kksslogo.jpg</logo_icon>
  <bindings>
    <binding><replace>ACCOUNT</replace><with>Konto</with></binding>
    <binding><replace>ACCOUNTS</replace><with>Konton</with></binding>
    <binding><replace>ACCOUNT_TYPES</replace><with>Kontotyper</with></binding>
    <binding><replace>BALANCE</replace><with>Saldo</with></binding>
    <binding><replace>BALANCE_REPORT</replace><with>Balansrapport</with></binding>
    <binding><replace>BUDGET</replace><with>Budget</with></binding>
    <binding><replace>CHOOSE_YEAR</replace><with>Välj ett bokföringsår</with></binding>
    <binding><replace>COMPARISON</replace><with>Jämförelse mellan resultat och budget</with></binding>
    <binding><replace>CREDIT</replace><with>Kredit</with></binding>
    <binding><replace>DATE</replace><with>Datum</with></binding>
    <binding><replace>DEBIT</replace><with>Debet</with></binding>
    <binding><replace>DESCRIPTION</replace><with>Beskrivning</with></binding>
    <binding><replace>DIFFERENCE</replace><with>Diff</with></binding>
    <binding><replace>ERROR_MSGS</replace><with>Felmeddelanden</with></binding>
    <binding><replace>ERRORS</replace><with>Fel värde</with></binding>
    <binding><replace>FILE</replace><with>Fil</with></binding>
    <binding><replace>ID</replace><with>Id</with></binding>
    <binding><replace>ITEM</replace><with>Händelse</with></binding>
    <binding><replace>ITEMS</replace><with>Händelser</with></binding>
    <binding><replace>JOURNAL</replace><with>Grundbok</with></binding>
    <binding><replace>LEDGER</replace><with>Huvudbok</with></binding>
    <binding><replace>NO_ERROR_MSGS</replace><with>Inga felmeddelanden</with></binding>
    <binding><replace>NOTE</replace><with>Beskrivning</with></binding>
    <binding><replace>NUMBER_OF</replace><with>Antal</with></binding>
    <binding><replace>PRINTOUT</replace><with>Utskrift</with></binding>
    <binding><replace>REGISTER</replace><with>Registrera</with></binding>
    <binding><replace>REPORTS</replace><with>Rapporter</with></binding>
    <binding><replace>RESULT</replace><with>Resultat</with></binding>
    <binding><replace>RESULT_REPORT</replace><with>Resultatrapport</with></binding>
    <binding><replace>SAVE</replace><with>Spara</with></binding>
    <binding><replace>SUM</replace><with>Summa</with></binding>
    <binding><replace>SUMMARY</replace><with>Sammanfattning</with></binding>
    <binding><replace>TABLES</replace><with>Tabeller</with></binding>
    <binding><replace>TYPE</replace><with>Typ</with></binding>
    <binding><replace>TOTAL</replace><with>Total</with></binding>
    <binding><replace>UPDATE</replace><with>Korrigera felaktigheter</with></binding>
    <binding><replace>VOUCHER</replace><with>Verif</with></binding>
    <binding><replace>VOUCHERS</replace><with>Verifikationer</with></binding>
  </bindings>
</accounter>
